* {
  margin: 0;
}
.whole {
  background-color: #000;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px);
  justify-items: stretch;
}
.box1 {
  grid-column: 1/2;
  height: 100px;
  width: 100px;
}
.whitebox {
  background-color: #fff;
}

.blackbox {
  background-color: #000;
  color: #000;
}
.redbox {
  color: #fff;
  background-color: red;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: block;
    height: 70%;
    width: 50%;
    margin: auto;
    padding: 10px;
  }
  .redbox {
    margin-bottom: 10px;
  }
}
