* {
  margin: 0;
}
.whole {
  background-color: #000;
  margin: 0;
}

.wrapper1 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  justify-items: stretch;
}
p {
  margin: 45px;
  font-size: large;
}
.box1 {
  grid-column: 1/2;
}
.whitebox {
  background-color: #fff;
  color: black;
}

.blackbox {
  background-color: #000;
  color: black;
}
.redbox {
  color: #fff;
  background-color: red;

  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .wrapper {
    display: block;
    height: 70%;
    width: 50%;
    margin: auto;
    padding: 10px;
  }
  .redbox {
    margin-bottom: 10px;
  }
}
