.whole {
  background-color: #000;
  margin-top: 200px;
  display: block;
}
.wrapper {
  background-color: #000;
  color: #fff;
  display: grid;
  /*grid-template-columns: 1fr 2fr 1fr;*/
  grid-template-columns: repeat(3, 1fr);
  /*grid-gap: 1em;*/
  /*grid-auto-rows: 100px;*/
  grid-auto-rows: minmax(100px, auto);
}
.team {
  margin: 10px;
}
.inside {
  text-align: center;
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    text-align: center;
    display: block;
    height: 70%;
    width: 50%;
    padding: auto;
  }
}
