@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
.about_inner_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    padding-top: 10vw;
    height: 100%;
    width: 100%;
    color: white;
}
.left1{
    flex: 0.65;
}
.left1 p{
    flex: 0.65;
    font-size: 1.4vw;
    line-height: 2.5vw;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
.right1{
    font-family: 'Josefin Sans', sans-serif;
}
.right1 h1{
    font-size: 12vw;
    display: contents;
}
.right1 h2{
    font-size: 6vw;
    color: #E62B1E;
}
.right1 h5{
    margin-top: 2vw;
    font-size: 2.2vw;
}